%{
    objectName = _object.class.simpleName;
    value = _object."${_attr}";
}%
#{field 'object.' + _attr}
        <label for="object_${_attr}">&{objectName+'.'+_attr}</label>
    %{
        clazz = field.error ? "error" : "";
    }%
    <span class="${clazz}">
        %{ _enum.values().each() { }%
        %{
            selected = false;
            if(field.error?.message != 'validation.required') {
                selected = it == value;
            }
            label = it.toString()
        }%
            <input type="radio" name="${field.name}" value="${it.name()}" ${selected ? 'checked' : ''}/> <span class="label"> &{label}</span> 
        %{ } }%
     </span>
#{/field}

