html, body {
  background: #fefefe !important;
	font: 15px/1.6 ff-meta-web-pro-1,ff-meta-web-pro-2,"Lucida Grande",Tahoma,sans-serif;
  /*padding: 0 0 100px;*/
  padding: 0px;
  color: #333;
  height: 100%;
  /*margin: auto;*/
}

body {
  padding: 0 30px;
  margin: auto;
}

.app {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -35px;
}

.leftApp {
  float: left;
  width: 75%;
}

.rightApp {
  float: right;
  /*width: 180px;*/
}

#header {
  padding: 10px 0px 0px 0px;
  position: relative;
  /*border: 1px solid red;*/
  height: 60px;
}

#logo a {
  position: relative;
  top: -20px;
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  letter-spacing: -3px;
  text-shadow: 1px 1px 2px #0E87A4;
}

#logo img {
  float: left;
}

#logo span {
  color: #FFA600;
  font-size: 65%;
}


.footer {
  clear: both;
  font-size: 75%;
  color: #0E87A4;
  height: 35px;
  /*border: 1px solid red;*/
}

.footer a {
  color: #0E87A4;
  font-weight: normal;
}

a {
  color: #0E87A4;
}

#tools {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 30px;
    right: 0px;
}

#tools a {
    color: #F0F3F7;
    text-decoration: none;
}

#application-title {
    background: #FFA600;
    padding: 20px 30px 30px 20px;
    margin: 20px 0;
    color: #3C4313;
    position: relative;
    -webkit-border-radius: 16px;
    -webkit-box-shadow: 0 2px 0 #93A045;
    -moz-border-radius: 16px;
}

#title .about {
	color: #000000;
}

#application-title h1 {
    font-size: 24px;
    margin: 0;
}

#application-title h1 a {
    text-decoration: none;
    color: inherit;
}

#application-title h2 {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

/** Main content **/

#main {
    background: #314660;
    background: -webkit-gradient(linear, left top, left 30%, from(#314660), to(#364B66));
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    padding: 20px;
}

noscript { font-family:Verdana; font-size:10px; font-weight:bold; color:red; width:100%; }

.content {
	/*float: left;*/
	/*width: 100%;*/
	/*clear: both;*/
	margin-top: 20px;
}

.sponsors {
	float: right;
//	width: 160px;
  margin-left: 30px;
  margin-top: 25px;
}

/** Ad **/

.teaser {
    margin-top: 5px;
//    background: #FFA600;
	border-bottom: 2px solid #FFA600;

    padding: 3px;
    padding-bottom: 10px;
    height: 38px;
}

.ad {
  margin-top: 10px;
  clear: both;
}

.ad .ad-thumb {
    float: left;
    width: 50px;
}

.ad .ad-thumb img {
    border: none;
}

.ad .ad-teaser-data {
    float: left;
    margin-left: 10px;
    display:block;
    line-height:22px;
    //width:800px;
}

.ad .ad-title {
    float: left;
	width: 100%;
}

.ad .ad-title a {
    font-size: 16px;
    font-weight: bold;
    color: #0E87A4;
    text-decoration: none;
}

.ad .ad-metadata {
    font-size: 80%;
    color: #777;
}

.ad-details {
  font-size: 80%;
  color: #555;
}

.ad .ad-content {
  clear: both;
  position: relative;
  background: #FFA600;
  color: #fff;
  padding: 10px;
  margin: 20px 0 20px 0;
  border-radius: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 0 2px 0 #BBBBBB;
}

.ad .about {
    text-indent: -999em;
    display: block;
    width: 0;
    height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #F0F3F7;
	border-top: 0;
	position: absolute;
	top: -10px;
	left: 24px;
}

.actions {
    float: right;
    margin-top: 10px;
}

#createAction {
    float: right;
}

.createAction {
    margin: 5px;
    background: url(/public/images/add.png) center right no-repeat;
    padding: 10px;
}

.editAction {
    margin: 5px;
    background: url(/public/images/pencil.png) center right no-repeat;
    padding: 10px;
}

.deleteAction {
	margin: 5px;
    background: url(/public/images/cross.png) center right no-repeat;
    padding: 10px;
}

.pictureDelete {
}

h3 {
    color: #0E87A4;
    font-size: 18px;
    margin-bottom: 15px;
}

h3 span {
    font-size: 80%;
    font-weight: normal;
}

/** Category **/

.categories {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 30px;
  font-family: Verdana, Helvetica, Arial, Sans !important;
}

.category {
    margin-top: 10px;
}

.category.odd {
  background: #edf5f4;
}

.category.even {
  background: #fafafa;
}

.category a {
    text-decoration: none;
}

.category .category-title a {
    color: #0E87A4;
    width: 80px;
    text-align: right;
    font-weight: bold;
}

.category .category-metadata {
    font-size: 90%;
    width: 95px;
    text-align: right;
}

.category-adCount {
    color: #0E87A4;
}

.category-child a:hover {
  font-weight: bold;
	font-size: 120%;
  color: #FFA600;
  text-decoration: underline;
}

/** Form **/

form {
    padding: 10px;
//    background: #253142;
    background: #FFA600;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.error {
    background: #FF2600;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #800;
}

form p {
    margin: 5px 0 0 0;
}

form textarea {
	font-family: Lucida Grande, Tahoma,sans-serif !important;    
  font-size: 80%;
  width: 99%;
  height: 150px;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 90%;
    margin-bottom: 3px;
    margin-top: 7px;
}

form .label {
    font-size: 90%;
}

#captcha{
    display: block;
    height: 50px;
}

.success {
    background: #67AD10;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B;
}

/** Pagination **/

#pagination {
    list-style: none;
    padding: 0;
    position: relative;
    color: #0E87A4;
    font-size: 90%;
    top: -20px;
    margin-bottom: 30px;
}

#pagination a {
    color: #0E87A4;
    font-size: 90%;
}

#pagination #previous {
    position: absolute;
    top: 0;
    left: 0;
}

#pagination #previous:before {
    content: '<< ';
}

#pagination #next {
    position: absolute;
    top: 0;
    right: 0;
}

#pagination #next:after {
    content: ' >>';
}

/** Admin **/

.tags-list .tag {
    cursor: pointer;
    color: red;
}

#adminMenu {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#adminMenu li {
    display: inline;
}

#adminMenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 80%;
    background: #591C64;
    padding: 2px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

#adminMenu li.selected a {
    background: #FFA600;
}

/** Login **/

#login form {
//    background: #8B98AD !important;
//    border: 0 !important;
 //   -webkit-border-radius: 16px;
  //  -moz-border-radius: 16px;
}

#login label, #password-field label, #username-field label {
  //  color: #161D28 !important;
    //font-size: 110% !important;
}


#remember-field {
    display: none;
}

#admin .post {
    background: #fff;
    padding: 4px;
    margin: 0;
    font-size: 90%;
}

#admin .post.odd{
  background: #E5EEFF;
  /*background: #0E87A4;*/
  /*background: #e4f5f4;*/
  /*background: #9fd0d6;*/
}

#admin .post a {
    color: #444;
}

#newPost {
    border-top: 1px dotted #C0CBE5;
    padding-top: 15px;
}

#newPost a {
    background: #C88116;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    padding: 5px 10px;
    font-size: 80%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

#newPost a span {
    background: #7D510E;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 0 5px 2px 5px;
    position: relative;
    top: -1px;
}

#postContent {
    width: 100%;
    height: 300px;
}

.hasError {
    background: pink;
}

form  .enum {
    color: white;
}

/**
form .enum {
    background: pink !important;
    border: 0 !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 16px;
}
**/


/** Pagination **/
/** based on http://woork.blogspot.com /2008/03/perfect-pagination-style-using-css.html **/

div.pagination-container {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

ul.pagination {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
}

.pagination li {
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	border: solid 0px #0E87A4;
	float: left;
	margin-right : 2px;
}

.pagination .previous-off a,
.pagination .next-off a,
.pagination .off a:link,
.pagination .off a:visited {
	color: #0E87A4;
    font-size: 0.9em;
}

//.pagination .next a, .pagination .previous a, .pagination .first a, .pagination .last a {
//    font-size: 0.9em;
//	color: #000000;
//}

.pagination .active {
	color: #fff;
	background-color: #FFA600;
  font-size: 0.9em;
}

.pagination a:link, .pagination a:visited {
//	color: #FFA600;
	display : block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}

.pagination a:hover {
	text-decoration: none;
}

/* jQuery lightBox plugin - Gallery style */
#gallery {
    padding: 10px; text-align: center;
}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery ul img {
    border: none;
}
#gallery ul a:hover img {
    border: 5px solid #eee;
    border-width: 5px 5px 20px;
    color: #fff;
}
#gallery ul a:hover { color: #fff; }

.left { float: left; }
.right { float: right; }

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);
//  padding: 5px 14px 6px;
  padding: 3px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
//  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: underline;
}
.btn.primary {
  color: #fff;
  background-color: #0E87A4;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0E87A4));
  background-image: -moz-linear-gradient(top, #049cdb, #0E87A4);
  background-image: -ms-linear-gradient(top, #049cdb, #0E87A4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0E87A4));
  background-image: -webkit-linear-gradient(top, #049cdb, #0E87A4);
  background-image: -o-linear-gradient(top, #049cdb, #0E87A4);
  background-image: linear-gradient(top, #049cdb, #0E87A4);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0E87A4 #0E87A4 #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.itemsFound {
	font-size: 80%;
}

.svgIcon {
	margin: 3px 5px 0px 5px;
}




/****************************
Two Level Superfishy CSS3 Menu
By Solitary Designs: http://solitarydesigns.net
****************************/
/*@import 'variables';*/

ul#nav {
  z-index: 1030;
  list-style: none;
  /*height: 36px;*/
  /*padding: 0;*/
//  margin: 0px;
  /*margin-left: -35px;*/
  display: inline-block;
  /*border: 1px solid #cfcfcf;*/

  /*position: relative;*/
  /*-webkit-border-radius: 4px;*/
  /*-moz-border-radius: 4px;*/
  /*border-radius: 4px;*/
  opacity: 0.97;
}

ul#nav, ul#nav a {
  color: #333;
}

ul#nav li {
  text-align: left;
  list-style: none;
}

ul#nav > li {
  float: left;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  border-color: #ccc #ccc #bbb;
  border-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  transition: all 0.1s linear 0s;
  margin: 2px;
  padding: 4px 10px;
}

ul#nav > li.active {
  background-color: #3C4193; /* Old browsers */
  background-image: -moz-linear-gradient(top, #3C4193 0%, #cfcfcf 100%); /* FF3.6+ */
}

ul#nav > li.active a {
//    color: white;
}

ul#nav > li.active:hover {
  background-position: 0 0px;
}

ul#nav > li:hover {
  background-position: 0 -10px;
}

ul#nav > li:hover ul {
  -webkit-animation: anim .2s forwards linear;
  -moz-animation: anim .2s forwards linear;
  -ms-animation: anim .2s forwards linear;
  -o-animation: anim .2s forwards linear;
  animation: anim .2s forwards linear;
}

ul#nav > li:hover > a {
  text-decoration: underline;
}

ul#nav > li > a {
  text-decoration: none;
  display: block;
  /*line-height: 15px;*/
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

ul#nav > li:first-child > a, ul#nav > li:first-child {
//  border-left: none;
//  -webkit-border-radius: 4px 0 0 4px;
//  -moz-border-radius: 4px 0 0 4px;
//  border-radius: 4px 0 0 4px;
}

ul#nav li:last-child a, ul#nav li:last-child {
//  border-right: none;
//  -webkit-border-radius: 0 4px 4px 0;
//  -moz-border-radius: 0 4px 4px 0;
//  border-radius: 0 4px 4px 0;
}

/*ul#nav li:last-child a.languageMenu {*/
/*color: #3C4193;*/
/*}*/

/* 2nd Level */

ul#nav > li > ul {
  position: absolute;
  list-style: none;
  padding: 0;
  /*background: #cfcfcf;*/
  /*background: whiteSmoke;*/
  background-color: #e6e6e6;
  margin-top: 5px;
  width: 230px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #b3b3b3;
  overflow: hidden;
  opacity: 0;
  /*left: -999px;*/
  margin-left: 100px;
  /*top: 20px;*/
  /*left: 100px;*/
  /*margin-right: -50px;*/
}

ul#nav > li > ul > li {
  /*background-color: #FFA600;*/
  /*background-color: #FFA600;*/
  padding: 10px 0 10px 10px;
//  margin-top: -10px;
//  border-top: 1px solid #aaa;
//  border-bottom: 1px solid #efefef;

-webkit-transition: all .2s ease;
-moz-transition: all .2s ease;
-ms-transition: all .2s ease;
-o-transition: all .2s ease;
transition: all .2s ease;
}

ul#nav > li > ul > li:hover {
  /*background: #333;*/
//  border-top: 1px solid #999;
//  border-bottom: 1px solid #fff;
}

ul#nav > li > ul > li:hover a {
  color: #fff;
}

ul#nav > li > ul > li:first-child {
  border-top: none;
}

ul#nav > li > ul > li:last-child {
  border-bottom: none;
}

ul#nav > li > ul > li > a {
  color: #777;
  text-decoration: none;
//  padding: 100px 20px 10px 15px;
//  font-size: 12px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
//  text-align: right;
}

@-webkit-keyframes anim {
  0% {
    left: 0;
    opacity: 0
  }
  100% {
    left: 0;
    top: 35px;
    opacity: 1
  }
}

@-moz-keyframes anim {
  0% {
    left: 0;
    opacity: 0
  }
  100% {
    left: 0;
    top: 35px;
    opacity: 1
  }
}

@-ms-keyframes anim {
  0% {
    left: 0;
    opacity: 0
  }
  100% {
    left: 0;
    top: 35px;
    opacity: 1
  }
}

@-o-keyframes anim {
  0% {
    left: 0;
    opacity: 0
  }
  100% {
    left: 0;
    top: 35px;
    opacity: 1
  }
}

@keyframes anim {
  0% {
    left: 0;
    opacity: 0
  }
  100% {
    left: 0;
    top: 35px;
    opacity: 1
  }
}

