/** Main layout **/

html, body {
    background: #364B66 !important;
    font-family: Helvetica, Arial, Sans !important;
    color: #F0F3F7;
}

body {
    width: 900px;
    padding: 0 30px;
    margin: auto;
}

/** Blog header **/
#header {
    padding: 10px 0;
    position: relative;
    margin-bottom: 30px;
}

#logo a {
    display: block;
    height: 49px;
    margin-left: 20px;
    color: #F0F3F7;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    text-shadow: 1px 2px 2px #000;
}

a {
    color: #869AB1;
}

#logo span {
    color: #B8C569;
    font-size: 70%;
}

#tools {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 30px;
    right: 20px;
}

#tools a {
    color: #F0F3F7;
    text-decoration: none;
}

#application-title {
    background: #B8C569;
    padding: 20px 30px 30px 20px;
    margin: 20px 0;
    color: #3C4313;
    position: relative;
    -webkit-border-radius: 16px;
    -webkit-box-shadow: 0 2px 0 #93A045;
    -moz-border-radius: 16px;
}

#title .about {
	color: #000000;
}

#application-title h1 {
    font-size: 24px;
    margin: 0;
}

#application-title h1 a {
    text-decoration: none;
    color: inherit;
}

#application-title h2 {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
}

/** Main content **/

#main {
    background: #314660;
    background: -webkit-gradient(linear, left top, left 30%, from(#314660), to(#364B66));
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    padding: 20px;
}

/** Ad **/

.teaser {
    margin-top: 10px;
    background: #314660;
    padding: 3px;
    height: 38px;
}

.ad {
}

.ad .ad-thumb {
    float: left;
    width: 50px;
}

.ad .ad-teaser-data {
    float: left;
    margin-left: 10px;
    display:block;
    line-height:22px;
    width:800px;
}

.ad .ad-title {
    float: left;
    width:830px;
}

.ad .ad-thumb {
    float: left;
    width: 50px;
}

.ad .ad-title a {
    font-size: 16px;
    font-weight: bold;
    color: #B8C569;
    text-decoration: none;
}

.ad .ad-metadata {
    color: #869AB1;
    font-size: 75%;
}

.ad-details {
    font-size: 100%;
    font-weight: normal;
    color: #869AB1;
}

.ad .ad-content {
    color: #364B66;
    clear: both;
    position: relative;
    background: #F0F3F7;
    padding: 10px;
    margin: 20px 0 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 2px 0 #BBBBBB;
}

.ad .about {
    text-indent: -999em;
    display: block;
    width: 0;
    height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #F0F3F7;
	border-top: 0;
	position: absolute;
	top: -10px;
	left: 24px;
}

.actions {
    float: right;
    margin-top: -35px;
}

#createAction {
    float: right;
}

.createAction {
    margin: 5px;
    background: url(/public/images/add.png) center right no-repeat;
    padding: 10px;
}

.editAction {
    margin: 5px;
    background: url(/public/images/pencil.png) center right no-repeat;
    padding: 10px;
}

.deleteAction {
	margin: 5px;
    background: url(/public/images/delete.png) center right no-repeat;
    padding: 10px;
}


h3 {
    color: #869AB1;
    font-size: 18px;
    margin-bottom: 15px;
}

h3 span {
    font-size: 80%;
    font-weight: normal;
}

/** Category **/

.categories {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Verdana, Helvetica, Arial, Sans !important;

}

.category {
    margin-top: 10px;
}

.category a {
    width: 70%;
    clear: both;
    color: #869AB1;
}

.category .category-title a {
    color: white;
    width: 80px;
    text-align: right;
}

.category .category-metadata {
    color: #F0F3F7;
    font-size: 90%;
    width: 80px;
    text-align: right;
}

.category-name {
}

/** Form **/

form {
    padding: 10px;
    background: #253142;
    background: -webkit-gradient(linear, left top, left 60%, from(#253142), to(#364B66));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.error {
    background: #c00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #800;
}

form p {
    margin: 5px 0 0 0;
}

form textarea {
    width: 99%;
    height: 150px;
    !important;
}

form input, form textarea {
    font-size: 14px;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 90%;
    color: #aaa;
    margin-bottom: 3px;
    margin-top: 7px;
}

form .label {
    font-size: 90%;
    color: #aaa;
}

#captcha{
    display: block;
    height: 50px;
}

.success {
    background: #67AD10;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B;
}

/** Pagination **/

#pagination {
    list-style: none;
    padding: 0;
    position: relative;
    color: #869AB1;
    font-size: 90%;
    top: -20px;
    margin-bottom: 30px;
}

#pagination a {
    color: #869AB1;
    font-size: 90%;
}

#pagination #previous {
    position: absolute;
    top: 0;
    left: 0;
}

#pagination #previous:before {
    content: '<< ';
}

#pagination #next {
    position: absolute;
    top: 0;
    right: 0;
}

#pagination #next:after {
    content: ' >>';
}

/** Footer **/

#footer {
    border-top: 1px solid #45597A;
    font-size: 70%;
    padding: 10px 30px;
    text-align: center;
    color: #869AB1;
    margin-top: 30px;
}

#footer a {
    color: #869AB1;
    font-weight: bold;
}

/** Admin **/

.tags-list .tag {
    cursor: pointer;
    color: red;
}

#adminMenu {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#adminMenu li {
    display: inline;
}

#adminMenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 80%;
    background: #591C64;
    padding: 2px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

#adminMenu li.selected a {
    background: #B8C569;
}

/** Login **/

#login form {
    background: #8B98AD !important;
    border: 0 !important;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

#login label, #password-field label, #username-field label {
    color: #161D28 !important;
    font-size: 110% !important;
}


#remember-field {
    display: none;
}

/** My posts **/

#admin .post {
    background: #fff;
    padding: 4px;
    margin: 0;
    font-size: 90%;
}

#admin .post.odd {
    background: #C0CBE5;
}

#admin .post a {
    color: #444;
}

#newPost {
    border-top: 1px dotted #C0CBE5;
    padding-top: 15px;
}

#newPost a {
    background: #C88116;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    padding: 5px 10px;
    font-size: 80%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

#newPost a span {
    background: #7D510E;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 0 5px 2px 5px;
    position: relative;
    top: -1px;
}

#postContent {
    width: 100%;
    height: 300px;
}

.hasError {
    background: pink;
}

form  .enum {
    color: white;
}

/**
form .enum {
    background: pink !important;
    border: 0 !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 16px;
}
**/


/** Pagination **/
# based on http://woork.blogspot.com /2008/03/perfect-pagination-style-using-css.html

div.pagination-container {
	margin-bottom: 10px;
	clear: both;
}

ul.pagination {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
}

.pagination li {
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	border: solid 0px #869AB1;
	float: left;
	margin-right : 2px;
}

.pagination .previous-off a,
.pagination .next-off a,
.pagination .off a:link,
.pagination .off a:visited {
	color: #869AB1;
    font-size: 0.9em;
}

.pagination .next a, .pagination .previous a, .pagination .first a, .pagination .last a {
    font-size: 0.9em;
	color: #000000;
}

.pagination .active {
	color: #000000;
	background-color: #DEDEDE;
    font-size: 0.9em;
}

.pagination a:link, .pagination a:visited {
	color: #B8C569;
	display : block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}

.pagination a:hover {
	text-decoration: none;
}
