/****************************
Two Level Superfishy CSS3 Menu
By Solitary Designs: http://solitarydesigns.net
****************************/
@import 'variables';

ul#nav {
  z-index: 1030;
  list-style: none;
  margin-left: -35px;
  position: relative;
  opacity: 0.98;
  color: @color2;
}

ul#nav li {
  text-align: left;
  list-style: none;
}

ul#nav > li {
  float: left;
  position: relative;
  background-repeat: no-repeat;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

ul#nav > li.active:hover {
  background-position: 0 0px;
}

ul#nav > li:hover {
  background-position: 0 -10px;
}

ul#nav > li:hover ul {
  -webkit-animation: anim .2s forwards linear;
  -moz-animation: anim .2s forwards linear;
  -ms-animation: anim .2s forwards linear;
  -o-animation: anim .2s forwards linear;
  animation: anim .2s forwards linear;
}

ul#nav > li:hover > a {
  text-decoration: underline;
}

ul#nav > li > a {
  padding: 10px 15px;
  display: block;
  line-height: 15px;
  color: @color1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}


/* 2nd Level */

ul#nav > li > ul {
  position: absolute;
  list-style: none;
  padding: 0;
  background: whiteSmoke;
  margin-top: 0px;
  width: 230px;
  opacity: 0;
}

ul#nav > li > ul > li {
  padding: 10px 0 10px 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

ul#nav > li > ul > li:hover a {
  color: @color1;
  text-decoration: underline;
}

ul#nav > li > ul > li:first-child {
  border-top: none;
}

ul#nav > li > ul > li:last-child {
  border-bottom: none;
}

ul#nav > li > ul > li > a {
  color: @color1;
  padding: 10px 20px 10px 15px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

@-webkit-keyframes anim {
  0% {
    left: 0;
    opacity: 0
  }
  100% {
    left: 0;
    top: 35px;
    opacity: 1
  }
}

@-moz-keyframes anim {
  0% {
    left: 0;
    opacity: 0
  }
  100% {
    left: 0;
    top: 35px;
    opacity: 1
  }
}

//@-ms-keyframes anim {
//  0% {
//    left: 0;
//    opacity: 0
//  }
//  100% {
//    left: 0;
//    top: 35px;
//    opacity: 1
//  }
//}
//
//@-o-keyframes anim {
//  0% {
//    left: 0;
//    opacity: 0
//  }
//  100% {
//    left: 0;
//    top: 35px;
//    opacity: 1
//  }
//}
//
//@keyframes anim {
//  0% {
//    left: 0;
//    opacity: 0
//  }
//  100% {
//    left: 0;
//    top: 35px;
//    opacity: 1
//  }
//}
