#{extends 'main.html' /}

<h3>${user}, <span>you have written ${ads.size() ?: 'no'} ${ads.pluralize('post', 'ads')} so far</span>
<span class="actions" >
    <a href="@{Application.createAd()}" class="createAction" title="&{'create'}"></a>
</span>
</h3>

#{paginate.list items:paginator, as: 'ad'}
    <span class="actions">
        <a href="@{Application.editAd(ad.id)}" class="editAction" title="&{'edit'}"></a>
        <a href="@{Application.deleteAd(ad.id)}" class="deleteAction" title="&{'delete'}"></a>
    </span>
    #{renderAd ad: ad, as: 'teaser'/}
#{/paginate.list}
<p></p>
#{paginate.controls items:paginator /}

