#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/smoothness/jquery-ui-1.8.6.custom.css'}">
#{/set}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/jquery-ui-1.8.6.custom.min.js'}" type="text/javascript" ></script>
#{/set}

*{ Display an Ad in one of these modes: 'full', 'home' or 'teaser' }*
<div class="ad ${_as == 'teaser' ? 'teaser' : ''} ">
    <div class="ad-thumb">
        <img src="@{Pictures.renderThumbnail(_ad.id, 0)}" />
    </div>
    <div class="ad-teaser-data">
        <div class="ad-title">
            <a href="@{Application.adDetail(_ad.id)}">${_ad.title}</a>
        </div>
        <br/>
        <div class="ad-metadata">
            <span class="ad-date">&{'Published'} ${_ad.postedAt.format("yyyy-MM-dd hh:mm")}</span>
            &nbsp;&nbsp;
            <span class="ad-price">#{if null != _ad.price}&{'Price'} ${_ad.price.doubleValue().formatCurrency(_ad.currency.name()).raw()}#{/if}</span>
        </div>
    </div>
    #{if _as != 'teaser'}
    <div style="clear: both;"></div>
        <div class="ad-content">
            ${_ad.content.nl2br()}
        </div>
    #{/if}
    #{if controllers.Security.isConnected()}
    <div class="actions">
       
        <a href="@{Application.editAd(_ad.id)}" class="editAction" title="&{'edit'}"></a>
        <a href="@{Application.deleteAd(_ad.id)}" class="deleteAction" title="&{'delete'}"></a>
    </div>
    #{/if}
</div>

#{if _as == 'full'}
    <span class="ad-details">
        &{'mainCategory'}: ${_ad.mainCategory.getDisplayName()}
        #{if null != _ad.subCategory} &nbsp;|&nbsp; &{'subCategory'}: &{_ad.subCategory.getDisplayName()} #{/if}
        <br/>
        &{'department'}: &{_ad.department}
        &nbsp;|&nbsp;
        &{'Ad.city'}: ${_ad.city}
        &nbsp;|&nbsp;
        &{'Ad.zone'}: ${_ad.zone}
        #{if controllers.Security.isConnected()}
            <br/>
            &{'Ad.phone'}: ${_ad.phone}
            &nbsp;|&nbsp;
            &{'Ad.mobilePhone'}: ${_ad.mobilePhone}
            &nbsp;|&nbsp;
            &{'Ad.email'}: ${_ad.getHtmlSecuredEmail()?.raw()}
        #{/if}
        <br/>
        <!-- &{'NoOfVisits'}: ${_ad.noOfVisits}
        &nbsp;|&nbsp;  -->
        &{'handOver'}: &{_ad.handOver}
        &nbsp;|&nbsp;
        &{'Ad.offer'}: &{_ad.offer}
    </span>

<div style="height: 20px;"></div>
<div class="pcitures">
    %{
        //for(Long id: _ad.pictures*.id) {
        if(null != _ad.pictures) {
            for(int i = 0; i < _ad.pictures.size(); i++) {
    }%
            <img src="@{Pictures.renderPicture(_ad.id, i)}" />
    %{
            }
        }
    }%
</div>
#{/if}


