
*{ Display an Ad in one of these modes: 'full', 'home' or 'teaser' }*
<div class="ad ${_as == 'teaser' ? 'teaser' : ''} ">
    <div class="ad-thumb">
        <a href="@{Application.adDetail(_ad.url)}"><img src="@{Pictures.renderThumbnail(_ad.id, 0)}" /></a>
    </div>
    <div class="ad-teaser-data" >
        <div class="ad-title">
            <a href="@{Application.adDetail(_ad.url)}">${_ad.title.substring(0,Math.min(_ad.title.length(), 80))}</a>
        </div>
        <br/>
        <div class="ad-metadata">
            <span class="ad-date">&{'Published'} ${_ad.postedAt.format("yyyy-MM-dd hh:mm")}</span>
            &nbsp;&nbsp;
            <span class="ad-price">#{if null != _ad.price}&{'Price'} ${_ad.price.doubleValue().formatCurrency(_ad.currency.name()).raw()}#{/if}</span>
        </div>
    </div>

    #{if controllers.auth.Security.isConnected() && (_ad.author.email.equals(controllers.auth.Security.connected())) }
    <div class="actions">
        <a href="@{SecuredApp.editAd(_ad.id)}" class="editAction" title="&{'edit'}"></a>
        <a href="@{SecuredApp.deleteAd(_ad.id)}" class="deleteAction" title="&{'delete'}"></a>
    </div>
    #{/if}
    #{if _as == 'full'}
        <div style="clear: both; height: 10px;"></div>
        <span class="ad-details">
            <div style="width: 48%; float: left; ">
                &{'mainCategory'}: &{_ad.mainCategory}
                #{if null != _ad.subCategory} >> &{_ad.subCategory} #{/if}
                <br/>
                &{'handOver'}: &{_ad.handOver} >> &{_ad.offer}
            </div>
            <div style="width: 4%; float: left;">&nbsp;</div>
            <div style="width: 48%; float: left;">
                &{'views.renderAd.where'}: &{_ad.department} >> ${_ad.city} >> ${_ad.zone}
                <br/>
                #{if controllers.auth.Security.isConnected()}
                    &{'Ad.phone'}: ${_ad.phone}
                    &nbsp;|&nbsp;
                    &{'Ad.mobilePhone'}: ${_ad.mobilePhone}
                    &nbsp;|&nbsp;
                    &{'Ad.email'}: ${_ad.getHtmlSecuredEmail()?.raw()}
                #{/if}
                #{else}
                    <a href="@{Register.register()}">&{'views.renderAd.registerGratis1'}</a> &{'views.renderAd.registerGratis2'}
                #{/else}
            </div>
        </span>
    #{/if}


<div style="clear: both;"></div>
#{if _as != 'teaser'}
    <div style="clear: both;"></div>
        <div class="ad-content">
            ${_ad.content.nl2br()}
        </div>

    <div id="gallery" class="pictures">
        <ul>
            %{
                if(null != _ad.pictures) {
                    for(int i = 0; i < _ad.pictures.size(); i++) {
            }%
                <li>
                  <img class="jslghtbx-thmb" src="@{Pictures.renderThumbnail72(_ad.id, i)}" alt="" data-jslghtbx="@{Pictures.renderPicture(_ad.id, i)}" data-jslghtbx-group="adgroup1">
                </li>
            %{
                    }
                }
            }%
        </ul>
    </div>

#{/if}
</div>

    