#{extends 'main.html' /}
#{set title: ad.title /}

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

<div class="adDetail">
    #{renderAd ad: ad, as: 'full'/}
</div>


<script type="text/javascript">
    $(function() {
//        $('#gallery a').lightBox();
//      var lightbox = new Lightbox();
//      lightbox.load();
//      $(".adgroup1").colorbox({rel:'adgroup1'});
      $('.ad-pictures').magnificPopup({
          delegate: 'a', 
          type:'image', 
          gallery: {
            enabled: true,
            tCounter: '<span class="mfp-counter">%curr% / %total%</span>'
          }
          
       });
    });
</script>

