#{extends 'main.html' /}
#{set title: 'Ads' /}

#{ifErrors}
    <p class="error">
        ${errors[0]}
    </p>
#{/ifErrors}
        
<div class="adList">
    #{if category}
        <h3>Category ${category.name}</h3>
    #{/if}
    #{elseif searchString}
        <h3>Search: ${searchString} <span style="float: right;">&{'Items found:'} ${noFound}</span></h3>
    #{/elseif}

    #{paginate.list items:paginator, as: 'ad'}
        #{renderAd ad: ad, as: 'teaser'/}
    #{/paginate.list}
    <p></p>
    #{paginate.controls items:paginator /}

</div>