#{extends 'main.html' /}
#{set title: messages.get('Ad') /}

#{set 'moreStyles'}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/smoothness/jquery-ui-1.8.6.custom.css'}">
#{/set}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/jquery-ui-1.8.6.custom.min.js'}" type="text/javascript" ></script>
#{/set}


#{form @Application.saveAd(ad), enctype:'multipart/form-data'}
    <div style="width: 100%;" class="form">

    <noscript>
        <p class="error"> &{'no.javascript'} </p>
    </noscript>
    #{ifErrors}
        <p class="error"> ${errors[0]} </p>
    #{/ifErrors}

    <input type="hidden" id="object_id" name="object.id" value="${object.id}" />
    <input type="hidden" id="object_author" name="object.author.id" value="${object.author.id}" />
    <div style="width: 48%; float: left;">
        #{form/renderSelect4Enum name: "mainCategory", value: object.mainCategory, items: mainCategories /}
        #{form/renderRadio object: object, attr: "language", enum: models.Ad.Language/}
    </div>
    <div style="width: 4%; float: left;">&nbsp;</div>
    <div style="width: 48%; float: left;">
        #{form/renderSelect4Enum name: "subCategory", value: object.subCategory, items: subCategories /}
        #{form/renderRadio object: object, attr: "offer", enum: models.Ad.OfferType/}
    </div>
    #{form/renderText object: object, attr: "title", size: 100/}
    #{form/renderTextArea object: object, attr: "content"/}
    <p></p>
        <div style="width: 48%; float: left;">
            #{form/renderRadio object: object, attr: "handOver", enum: models.Ad.HandOver/}
            #{form/renderText object: object, attr: "price"/}
            #{form/renderText object: object, attr: "phone"/}
            #{form/renderText object: object, attr: "mobilePhone"/}
            #{form/renderText object: object, attr: "email"/}
            <!--
            #{form/renderSelect4Enum name: "state", value: object.state, items: models.Ad.State.values() /}
            -->
            <div> <!-- 1st Picture -->
                <label for="picture">${messages.get('picture')}</label>
                <input type="file" id="picture" name="picture" value=""/>
            </div>
            <div> <!-- 2nd Picture -->
                <label for="picture1">${messages.get('picture1')}</label>
                <input type="file" id="picture1" name="picture1" value=""/>
            </div>
            <div> <!-- 3rd Picture -->
                <label for="picture2">${messages.get('picture2')}</label>
                <input type="file" id="picture2" name="picture2"/>
            </div>
        </div>
        <div style="width: 4%; float: left;">&nbsp;</div>
        <div style="width: 48%; float: left;">
            #{form/renderRadio object: object, attr: "priceType", enum: models.Ad.PriceType/}
            #{form/renderRadio object: object, attr: "currency", enum: models.Ad.Currency/}
            #{form/renderSelect4Enum name: "department", value: object.department, items: models.Ad.Department.values() /}
            #{form/renderText object: object, attr: "city"/}
            #{form/renderText object: object, attr: "zone"/}
            <!--
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            -->
            <div> <!-- 4th Picture -->
                <label for="picture3">${messages.get('picture3')}</label>
                <input type="file" id="picture3" name="picture3"/>
            </div>
            <div> <!-- 5th Picture -->
                <label for="picture4">${messages.get('picture4')}</label>
                <input type="file" id="picture4" name="picture4"/>
            </div>
            <div> <!-- 6th Picture -->
                <label for="picture5">${messages.get('picture5')}</label>
                <input type="file" id="picture5" name="picture5"/>
            </div>
        </div>
    </div>
    <div style="clear: both; text-align: left;">
        <br/>
        <input id="save" type="submit" value="&{'Save'}" />
    </div>
#{/form}


%{
    if(null != object.pictures) {
        for(int i = 0; i < object.pictures.size(); i++) {
}%
        <div style="float: left;" id="picture_${i}">
            <img src="@{Pictures.renderThumbnail72(object.id, i)}" />
            <input type="button" class="pictureDelete" id="pictureDelete_${object.pictures.get(i).id}" value="&{'delete'}" />
            <br/>
        </div>
%{
        }
    }
}%
<div style="clear: both;">

<script type="text/javascript">

    var getSubCategories = #{jsAction @Application.getOptionString4Category(':id') /}       

    $('#object_mainCategory').change(function() {
        $('#object_subCategory').load(getSubCategories({id: $(this).val()}));
    });

    var cities = ${models.City.toJSON().raw()};
    $(function() {
		$("#object_city").autocomplete({
			source: cities
		});
	});

    var pictureDelete = #{jsAction @Pictures.delete(':adId', ':id') /}
    $('.pictureDelete').click(function() {
        var divId = this.parentNode.id.substring("picture_".length);
        var id = this.id.substring("pictureDelete_".length);
        $("#picture_"+ divId).load(pictureDelete({adId: "${object.id}", id: id}));
    });

    // wait for the DOM to be loaded
    $(document).ready(function() {
    });
</script>
