#{extends 'main.html' /}
#{set title:'Ad' /}

#{ifnot object?.id}
    <h3>Create <span>an Ad</span> <blink>This is an alpha version. Please do not expect your data to persist. We will delete them!</blink></h3>
#{/ifnot}
#{else}
    <h3>Edit <span>this Ad</span></h3>
#{/else}


#{form @Application.saveAd(ad), enctype:'multipart/form-data'}
    <div style="width: 100%;" class="form">

    <noscript>
        <p class="error">
        Javascript must be enabled to properly navigate this site.
        </p>
    </noscript>
    #{ifErrors}
        <p class="error">
            ${errors[0]}
        </p>
    #{/ifErrors}

    %{
        def currentType = _('controllers.CRUD$ObjectType').forClass(object.getClass().getName())
    }%

    <input type="hidden" id="object_id" name="object.id" value="${object.id}" />
    <input type="hidden" id="object_author" name="object.author.id" value="${object.author.id}" />
    #{form/renderEnum object: object, attr: "language", enum: models.Ad.Language/}
    #{form/renderText object: object, attr: "title", size: 100/}
    #{form/renderTextArea object: object, attr: "content"/}
    <p></p>
        <div style="width: 48%; float: left;">
            #{form/renderEnum object: object, attr: "offer", enum: models.Ad.OfferType/}
            #{form/renderText object: object, attr: "price"/}
            #{form/renderText object: object, attr: "phone"/}
            #{form/renderText object: object, attr: "mobilePhone"/}
            #{form/renderText object: object, attr: "email"/}
            #{crud.relationField name: "mainCategory", value: object.mainCategory, field: currentType.getField('mainCategory') /}
            <div> <!-- 1st Picture -->
                <label for="picture">1st Foto</label>
                <input type="file" id="picture" name="picture"/>
            </div>
            <div> <!-- 2nd Picture -->
                <label for="picture1">2nd Foto</label>
                <input type="file" id="picture1" name="picture1"/>
            </div>
            <div> <!-- 3rd Picture -->
                <label for="picture2">3rd Foto</label>
                <input type="file" id="picture2" name="picture2"/>
            </div>
        </div>
        <div style="width: 4%; float: left;">&nbsp;</div>
        <div style="width: 48%; float: left;">
            #{form/renderEnum object: object, attr: "handOver", enum: models.Ad.HandOver/}
            #{form/renderEnum object: object, attr: "priceType", enum: models.Ad.PriceType/}
            #{form/renderText object: object, attr: "zone"/}
            #{form/renderText object: object, attr: "department"/}
            #{form/renderText object: object, attr: "city"/}
            #{form/renderSelect name: "subCategory", value: object.subCategory, items: subCategories /}
            <div> <!-- 4th Picture -->
                <label for="picture3">4th Foto</label>
                <input type="file" id="picture3" name="picture3"/>
            </div>
            <div> <!-- 5th Picture -->
                <label for="picture4">5th Foto</label>
                <input type="file" id="picture4" name="picture4"/>
            </div>
            <div> <!-- 6th Picture -->
                <label for="picture5">6th Foto</label>
                <input type="file" id="picture5" name="picture5"/>
            </div>
        </div>
    </div>
    <div style="clear: both; text-align: left;">
        <br/>
        <input type="submit" value="Submit your Ad" />
    </div>
#{/form}


%{
    //for(Long id: object.pictures*.id) {
    if(null != object.pictures) {
        for(int i = 0; i < object.pictures.size(); i++) {
}%
        <div id="picture_${i}">
            <img src="@{Pictures.renderPicture(object.id, i)}" />
            <input type="button" class="pictureDelete" id="pictureDelete_${object.pictures.get(i).id}" value="&{'delete'}" />
            <br/>
        </div>
%{
        }
    }
}%

<script type="text/javascript">

    var getSubCategories = #{jsAction @MainCategories.getSubCategories(':id') /}

    $('#object_mainCategory').change(function() {
        $('#object_subCategory').load(getSubCategories({id: $(this).val()}));
    });

    var pictureDelete = #{jsAction @Pictures.delete(':adId', ':id') /}
    $('.pictureDelete').click(function() {
        var divId = this.parentNode.id.substring("picture_".length);
        var id = this.id.substring("pictureDelete_".length);
        $("#picture_"+ divId).load(pictureDelete({adId: "${object.id}", id: id}));
    });

    // wait for the DOM to be loaded
    $(document).ready(function() {
    });
</script>
