#{extends 'main.html' /}
#{set title: 'Que quieres hoy?' /}

<div id="application-title">
    <h1>&{'views.index.title.header'}</h1>
    <h2>&{'views.index.title.subheader'}</h2>
</div>

        
#{ifErrors}
    <p class="error">
        ${errors[0]}
    </p>
#{/ifErrors}


<form action="@{Application.search()}" method="GET">
    <input type="text" name="searchString" size="50"/> 
    <input type="submit" value="&{'ParaPapi'}" />

    #{if controllers.Security.isConnected()}
        <input id="advancedSearch" type="button" onclick="location.href='@{Application.advancedSearch()}'" value="&{'AdvancedSearch'}" />
        <input style="float: right;" id="createAd" type="button" onclick="location.href='@{Application.createAd()}'" value="&{'CreateAd'}" />
    #{/if}
</form>
                                                     

<div class="categories">
    #{list items: mainCategory, as:'category'}
        <div class="category">
            <span class="category-title">
                #{renderCategory category:category/}
            </span>
            <span class="category-metadata">
                <span class="category-children">
                    #{if category.children.size()}
                        #{list items:category.children, as:'child'}
                            #{renderCategory category:child, isChild: true /}
                        #{/list}
                    #{/if}
                </span>
            </span>
        </div>
    #{/list}
</div>

