#{extends 'main.html' /}
#{set title: 'Que quieres hoy?' /}

<div id="logo">
    <h3><img src="/public/images/favicon01.png"/>&nbsp; &{'views.index.title.header'}</h3>
</div>

#{ifErrors}
    <p class="error">
        ${errors[0]}
    </p>
#{/ifErrors}


<form action="@{Application.search()}" method="GET" id="form1">
    <input type="text" name="searchString" size="50"/> 
    <input type="submit" value="&{'ParaPapi'}" />

    #{if controllers.Security.isConnected()}
        <input id="advancedSearch" type="button" onclick="location.href='@{Application.advancedSearch()}'" value="&{'AdvancedSearch'}" />
        <input style="float: right;" id="createAd" type="button" onclick="location.href='@{Application.createAd()}'" value="&{'CreateAd'}" />
    #{/if}
    #{else}
    <!--
    <p style="float: right">
        <span style="float: left; margin-top: 5px;"><input type="checkbox" id="german" name="german" "${language.equals("de") ? 'checked' : ''}" onclick="langSelect();" /></span>
        <span style="float: left;"><label for="german">&{'german'}</label></span>
        <span style="float: left; margin-top: 5px; margin-left: 10px;"><input type="checkbox" id="english" name="english" "${language.equals("en") ? 'checked' : ''} /></span>
        <span style="float: left;"><label for="english">&{'english'}</label></span>
        <span style="float: left; margin-top: 5px; margin-left: 10px;"><input type="checkbox" id="spanish" name="spanish" "${language.equals("es") ? 'checked' : ''} /></span>
        <span style="float: left;"><label for="spanish">&{'spanish'}</label></span>
    </p>
	-->
    #{/else}
</form>


<div id="categories" class="categories">
</div>


<script type="text/javascript">

    var renderMaincategoryList = #{jsAction @Application.renderMaincategoryList(':cat, :german, :english, :spanish') /}

    var mainCategoryChoosen = function(cat) {
//        var isGerman = $("#german").attr("checked");
//        var isEnglish = $("#english").attr("checked");
//        var isSpanish = $("#spanish").attr("checked");
        $.get('@{Application.renderMaincategoryList()}', {category: cat}, function(data) {
            document.write(data);
            document.close();
        });
    };

    var subCategoryChoosen = function(cat) {
//        var isGerman = $("#german").attr("checked");
//        var isEnglish = $("#english").attr("checked");
//        var isSpanish = $("#spanish").attr("checked");
        $.get('@{Application.renderSubcategoryList()}', {category: cat}, function(data) {
            document.write(data);
            document.close();
        });
    };

    var renderCategoryList = #{jsAction @Application.renderCategories() /}
    function langSelect() {
//        var isGerman = $("#german").attr("checked");
//        var isEnglish = $("#english").attr("checked");
//        var isSpanish = $("#spanish").attr("checked");
        $("#categories").load(renderCategoryList());
    };

    function Refresh() { // reload the page
        location.reload();
    };
    
    $(document).ready(function() {
        langSelect();
        setTimeout("Refresh()", 60000); //60 sec.
    });


</script>
