#{extends 'main.html' /}
#{set title:'Que quieres hoy?' /}

<div id="application-title">
    <span class="about">About this site</span>
    <h1>&{'views.index.title.header'}</h1>
    <h2>You can use this site freely to publish everything you want to offer or find in or around Asunción, Papi.</h2>
</div>

        
#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

<form action="@{Application.search()}" method="GET">
    <input type="text" name="searchString" size="50"/> 
    <input type="submit" value="Para Papi!" />

    #{if controllers.Security.isConnected()}
        <input style="float: right;" type="button" onclick="location.href='@{Application.createAd()}'" value="Create Ad" />
    #{/if}
</form>
                                                     

<div class="categories">
    #{list items: mainCategory, as:'category'}
        <div class="category">
            <span class="category-title">
                #{renderCategory category:category/}
            </span>
            <span class="category-metadata">
                <span class="category-children">
                    #{if category.children.size()}
                        #{list items:category.children, as:'child'}
                            #{renderCategory category:child, isChild: true /}
                        #{/list}
                    #{/if}
                </span>
            </span>
        </div>
    #{/list}
</div>

