<!DOCTYPE html>

<html lang="#{get 'language'/}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-language" content="#{get 'language'/}">
  <title>&{'main.titleFixed'} #{get 'title'/}</title>
  &{'views.main.header'}
  <link rel="shortcut icon" type="image/png" href="@{'/public/images/bobble.png'}">
  #{greenscript.css 'main menu lightbox', output: 'all'/}
  #{greenscript.js 'zepto lightbox', output: 'all'/}
</head>
<body>
<div class="app">
  <div class="leftApp">
    <div id="header">
      <div id="logo">
        <div>
          <a href="@{Application.categories()}">
            <img src="@{'/public/images/suncom_logo200.png'}/">
            <span>&{'main.applicationName'}</span>
          </a>
        </div>
      </div>
      <div>
        <ul id="tools">
          <span class="menubar">
            <ul id='nav'>
              <li><a href="/">&{'views.main.tools.home'}</a></li>
              #{if controllers.auth.Security.isConnected()}
                <li><a href="@{Register.editUser()}">&{'views.main.tools.user'}</a>
                  <ul>
                    <li><a href="@{Users.dashboard()}">&{'views.main.tools.myAds'}</a></li>
                    <li><a href="@{SecuredApp.createAd()}">&{'CreateAd'}</a></li>
                    <li><a href="@{Secure.logout()}">&{'views.main.tools.logout'}</a></li>
                  </ul>
                </li>
              #{/if}
              #{else}
                <li><a href="@{Secure.login()}">&{'views.main.tools.login'}</a></li>
              #{/else}
              <li><a href="@{Application.impressum()}">&{'views.editUser.impressum'}</a>
                <ul>
                  <li><a href="@{Application.faq()}">&{'views.main.tools.faq'}</a></li>
                  <li><a href="@{Application.termsOfUse()}">&{'views.editUser.termsOfUse'}</a></li>
                  <li><a href="@{Application.dataPolicy()}">&{'views.editUser.dataPolicy'}</a></li>
                </ul>
              </li>
            </ul>
          </span>
        </ul>
      </div>
    </div>
    <div class="content">
      #{doLayout /}
    </div>
  </div>
  <div class="rightApp">
    #{if request.domain != "localhost"}
    <div id="sponsors" class="sponsors">
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-5979020849631235";
      /* shop200_1 */
      google_ad_slot = "7624833704";
      google_ad_width = 160;
      google_ad_height = 600;
      </script>
      <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
    #{/if}
  </div>
</div>


<div class="footer">
  <span class='languages left'>
  &{'main.all'}: ${play.cache.Cache.get("count_all")}
  <a href="@{Application.switchLanguage('de')}">de</a>: ${play.cache.Cache.get("count_de")}
  <a href="@{Application.switchLanguage('en')}">en</a>: ${play.cache.Cache.get("count_en")}
  <a href="@{Application.switchLanguage('es')}">es</a>: ${play.cache.Cache.get("count_es")}
  &{'your_language'}: ${play.i18n.Lang.get()}    
  </span>
  <div class='copyright left'>Copyright &#169; 2015 SUNCOM Systems</div>
  <span class='version right'>&{'Version'} ${play.configuration.getProperty("version")}</span>
</div>
</body>
</html>
