<!DOCTYPE html>

<html>
    <head>
        <title>SUNCOM Ads! - #{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="spanish"/>
		<meta name="description" content="Clasificados y Agrupados de Paraguay, Comprar y vender Autos, Inmuebles, Electrónicos, encontrar trabajo y empleo y contactos"/>
		<meta name="category" content="clasificados, agrupados, asunción, paraguay, avisos, gratis"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/bobble.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        <div class="app">
	        <div id="header">
	            <div id="logo">
	            	<div>
		                <a href="@{Application.index()}">
                      <img src="@{'/public/images/suncom_logo200.png'}"></img>
                      <span>Ads!</span>
                    </a>
					    <!--<h3>&{'views.index.title.header'}</h3>-->
	            	</div>
	            </div>
	            <div>
	                <ul id="tools">
	                    <li>
	                        #{if controllers.auth.Security.isConnected()}
	                            <input id="dashboard" class="btn" type="button" onclick="location.href='@{Users.dashboard()}'" value="&{'views.main.tools.myAds'}" />
	                            <input id="editUser" class="btn" type="button" onclick="location.href='@{Register.editUser()}'" value="${session.username}" />
	                            <input id="logout" class="btn" type="button" onclick="location.href='@{Secure.logout()}'" value="&{'views.main.tools.logout'}" />
	                        #{/if}
	                        #{else}
	                            <input id="register" class="btn" type="button" onclick="location.href='@{Register.register()}'" value="&{'views.main.tools.register'}" />
	                            <input id="login" class="btn" type="button" onclick="location.href='@{Secure.login()}'" value="&{'views.main.tools.login'}" />
	                        #{/else}
	                    </li>
	                </ul>
	            </div>
	        </div>
	        <div class="content">
	            #{doLayout /}
	        </div>
        </div>
			#{if request.domain != "localhost2"}
				<div id="sponsors" class="sponsors">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-5979020849631235";
					/* shop200_1 */
					google_ad_slot = "7624833704";
					google_ad_width = 160;
					google_ad_height = 600;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>			
				</div>
			#{/if}


        <div class="footer">
            </br>Copyright &#169; 2015 SUNCOM Systems  &nbsp;&nbsp;&nbsp;
            &{'Version'}  ${play.configuration.getProperty("version")}  &nbsp;&nbsp;&nbsp; &{'your_language'}: ${play.i18n.Lang.get()}
            &nbsp;&nbsp;&nbsp;  <a href="@{Application.termsOfUse()}">&{'views.editUser.termsOfUse'}</a>
            &nbsp;&nbsp;&nbsp;  <a href="@{Application.dataPolicy()}">&{'views.editUser.dataPolicy'}</a>
            &nbsp;&nbsp;&nbsp;  <a href="@{Application.impressum()}">&{'views.editUser.impressum'}</a>
            <br/>&{'main.all'}: ${play.cache.Cache.get("count_all")}&nbsp;&nbsp;&nbsp;de: ${play.cache.Cache.get("count_de")} &nbsp;&nbsp;&nbsp;en: ${play.cache.Cache.get("count_en")}
            &nbsp;&nbsp;&nbsp;es: ${play.cache.Cache.get("count_es")}
        </div>
    </body>
</html>
